{% extends "base.html" %}
    
{% block content %}

    <div class="col-md-3">
        <div class="row">
        <form action="/method" method="POST">
      
          <label for="method">Method</label><br>

          <select id="method" name="method">
          {% for method in methods %}    
              <option value="{{ method }}">{{ method }}</option>
          {% endfor %}    
          </select>
          <input type="submit" value="view method" id="view_method">
                
        </form>
        </div>

        <div class="row">
        <form action="/author" method="POST">
      
          <label for="author" class="floatLabel">Author</label><br>

          <select id="author" name="author">
          {% for author in authors %}    
              <option value="{{ author }}">{{ author }}</option>
          {% endfor %}    
          </select>
          <input type="submit" value="view author" id="view_author">
        </div>      

    </form>

{% endblock %}


{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#method").select2();
        $("#author").select2();
     
        // Navigate to author or method page on select
        $("#view_method").click(function(){
            console.log("View Method selected.")
            var selected = $("#method").val();
            document.location = '/method/' + selected
        });

        // Navigate to author or method page on select
        $("#view_author").click(function(){
            console.log("View Author selected.")
            var selected = $("#author").val(); 
            document.location = '/author/' + selected
        });

    });
    </script>
{% endblock %}
