<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Microfish!</title>
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css') }}">
    
      <!-- For better reproducibility, these should be served with application-->
      <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">

  </head>
  <body>

    <!-- not yet developed
    <form action="/method" method="POST">
      <p>

          <label for="method">Method</label>

          <select id="method" name="method">
          {% for method in methods %}    
              <option value="{{ method }}">{{ method }}</option>
          {% endfor %}    
          </select>
          <input type="submit" value="view method" id="view_method">
          
      </p>
    </form>
    -->
    <form action="/author" method="POST">
      <p>
          <label for="author" class="floatLabel">Author</label><br>

          <select id="author" name="author">
          {% for author in authors %}    
              <option value="{{ author }}">{{ author }}</option>
          {% endfor %}    
          </select>
          <input type="submit" value="view author" id="view_author">
      </p>
    </form>

    <script type="text/javascript">
    $(document).ready(function() {
        $("#method").select2();
        $("#author").select2();
     
        // Navigate to author or method page on select
        $("#view_method").click(function(){
            console.log("View Method selected.")
            var selected = $("#method").val();
            document.location = '/method/' + selected
        });

        // Navigate to author or method page on select
        $("#view_author").click(function(){
            console.log("View Author selected.")
            var selected = $("#author").val(); 
            document.location = '/author/' + selected
        });

    });
    </script>

  </body>

</html>
