{% extends "base.html" %}

{% block content %}

     <!-- SIDEBAR CONTROLS -->
      <div class="col-md-3">
         <div class="row">

                <form action="/method" method="POST" style="margin-top:60px">

                   <label for="method">Method</label>

                  <select id="method" name="method">
                  {% for method in methods %}    
                      <option value="{{ method }}">{{ method }}</option>
                  {% endfor %}    
                  </select>
                  <input type="submit" value="view method" id="view_method">
          
                </form>
        </div>
        <div class="row">
            
            <form action="/author" method="POST" style="margin-bottom:20px">
            
            <label for="author" class="floatLabel">Author</label><br>

             <select id="author" name="author">
             {% for author in authors %}    
                <option value="{{ author }}">{{ author }}</option>
             {% endfor %}    
             </select>
             <input type="submit" value="view author" id="view_author">
             </form>
        </div>
        <div class="row">
         <a href="" target="_blank"><button id="about_button" class="btn btn-default btn-xl question_button" data-toggle="modal" data-target="#about_modal">What am I looking at?</button></a> 
         <button id="random_button" class="btn btn-default btn-xl question_button">Select Random Method</button> 
       
        <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="about_label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding:20px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="about_label">What am I looking at?</h4>
                    </div>
                    <div class="modal-body">
                    <h3>Publications most similar to methods based on abstracts</h3>
                    <p class="well">How similar are your publications to a <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_statistics_articles">large set</a> based on the context? I first <a href="https://github.com/vsoch/repofish/blob/master/analysis/wikipedia/0.make_method_models.py" target="_blank">derived a vector representation</a> for each of the methods in the large set using a method called <a href="http://deeplearning4j.org/word2vec" target="_blank">word2vec</a>. I could then parse the text from each of your publication abstracts, and map it to this space by taking a mean vector for all the words I find in your abstract. I can then calculate a similarity score of this vector to all the method vectors individually. What you are looking at is a list of top matches (scores > 0) that are matched to {{ themethod }}</p>
                    <h3>Where are all the visualizations?</h3>
                    <p class="well">
                    They are coming soon! This view was put together in a weekend afternoon, and you can expect the tool to be updated with views for methods, and interactive graphs across authors. For now, you can look at <a href="https://goo.gl/WE4nMT" target="_blank"> collaborations between authors</a> based on a set of papers, or explore the data and code more fully on <a href="https://github.com/vsoch/microfish" target="_blank">github</a>.
                    </p>
                    </div>
                 <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Got It!</button>
             </div>
          </div>
        </div>
      </div>
    </div>
</div>

        <!-- ARTICLES -->
        <div class="col-md-9">
            <div class="row">
                <div class="summary">
                    <h2>{{ themethod }}</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for pub_meta in pubs_meta %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                           {{'%0.2f'| format(pub_meta.score|float)}}% : {{ pub_meta.title }}
                                </a>
                            </h4>
                         </div>
                         {% if loop.index == 1 %}
                         <div id="collapse{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                         {% else %}
                         <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                         {% endif %}
                            <div class="panel-body">
                            <h4><italic>{{ pub_meta.authors }}</italic>: <strong>{{ pub_meta.date }}</strong></h4>
                            {{ pub_meta.abstract }}<br><br>
                            <a href="{{ pub_meta.url | safe }}" target="_blank"><button class="btn btn-default btn-sm">View</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
             </div>
         </div><!--/summary-->
     </div><!--/row-->

     </div>
  </div><!--column-->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#method").select2();
        $("#author").select2();
     
        // Navigate to author or method page on select
        $("#view_method").click(function(){
            console.log("View Method selected.")
            var selected = $("#method").val();
            document.location = '/method/' + selected
        });

        // Navigate to author or method page on select
        $("#view_author").click(function(){
            console.log("View Author selected.")
            var selected = $("#author").val(); 
            document.location = '/author/' + selected
        });

        $("#random_button").click(function(){
            document.location = "/method";
        });
     
        $('#ranked_papers').DataTable();
    });
    </script>
{% endblock %}
